@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
$primaryColor: white;
$profileBorderColor: black;
$errorColor: rgb(175, 21, 129);
$logoFont: 'Pacifico', cursive;
$mobileGridAreas: 
    "headBar headBar headBar"
    "bannerImg bannerImg bannerImg"
    "thumbBar thumbBar thumbBar"
    "profile profile profile"
    "moreImages moreImages moreImages"
    "moreImages moreImages moreImages"
    "moreImages moreImages moreImages";
$thumbImgCount: 3;

@mixin profileStyle($scale) {
    img {
        float: left;
        border: (5px * $scale) solid $profileBorderColor;
        border-radius: 100%;
        height: 100px * $scale;
    }
  }

body {
    //background-color: $primaryColor;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: .5fr 2fr repeat(5, 1.2fr);
    grid-template-areas: $mobileGridAreas;
    margin: 0;
    padding: 0;
    justify-items: stretch;
}
.header {
    grid-area: headBar;
    background-color: $primaryColor;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
    img {
       margin: 8px 0 0 8px;
    }
    h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 60px;
        font-family: $logoFont;
    }
}
.full-img {
    grid-area: bannerImg;
    background-color: black;
    text-align: center;
    img {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        z-index: 0;
    }
}
.overlay {
    grid-area: bannerImg;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.thumb-bar {
    grid-area: thumbBar;
    background-color: $errorColor;
    border-bottom: 2px solid black;
    img {
        float: left;
        object-fit: cover;
        overflow: hidden;
        height: 100%;
        max-height: 100%;
        width: 100% / $thumbImgCount;
    }
}
.bio {
    grid-area: profile;
    @include profileStyle(2); 
    margin: 0 auto;
    img {
        margin: 5% 10px 0;
    }
    p {
        font-family: 'Indie Flower', cursive;
        max-height: 100%;
        font-size: 35px;
        margin-top: 5%;
        padding: 0 10px;
    }

}
.images{
    grid-area: moreImages;
    display: flex;
    flex-wrap: wrap;
    img {
        border-radius: 10px;
        border: 2px solid gray;
        margin: 0 auto 4% auto;
        max-width: 28%;
        max-height: 31.5%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}